@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --header-bg: url('../public/static/img/theme-01.jpg');
    --logo-white: url('../public/static/img/logo.png');
    --color-bg-logo: rgb(0 80 135 / 0.8);
    --color-primary: #ff00ff;
    --color-secondary: #ff0000;
}

.dark {
    --color-primary: #0000ff;
    --color-secondary: #ff0000;
}
